[submodule "ascension/libs/sdl"]
	path = ascension/libs/sdl
	url = https://github.com/r-ggraham/SDL.git
[submodule "ascension/libs/glm"]
	path = ascension/libs/glm
	url = https://github.com/g-truc/glm.git
