[submodule "libs/yuki"]
	path = libs/yuki
	url = git@github.com:r-ggraham/yuki.git
[submodule "libs/erika"]
	path = libs/erika
	url = git@github.com:r-ggraham/erika.git
[submodule "libs/sophia"]
	path = libs/sophia
	url = git@github.com:r-ggraham/sophia.git
